################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/NumericExtensions/obj
/Test/NumericExtensions.UnitTests/bin/Debug/net6.0
/src/NumericExtensions/bin/Debug/net6.0
/Test/NumericExtensions.UnitTests/obj/Debug/net6.0/ref
/Test/NumericExtensions.UnitTests/obj/Debug/net6.0
/src/NumericExtensions/bin/Debug
/src/SSquared.App/obj
/src/SSquared.Lib/obj
/src/SSquared.Lib/bin/Debug/net7.0
/src/SSquared.App/bin/Debug/net7.0
/src/*/SSquared.db
/src/*/SSquared.db*
/src/SSquared.App/node_modules
