################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/SSquared.App/obj
/src/SSquared.Lib/obj
/src/SSquared.Lib/bin/Debug/net7.0
/src/SSquared.App/bin/Debug/net7.0
/src/*/SSquared.db
/src/*/SSquared.db*
/src/SSquared.App/node_modules
/src/SSquared.App/wwwroot/js
/test/SSquared.Lib.UnitTests/bin/Debug/net7.0
/test/SSquared.Lib.UnitTests/obj
