.org-chart-node {
  border-left: solid 1px black;
}
.org-chart-node .org-chart-node-details {
  background-color: blue;
  color: white;
  height: 4rem;
  padding: 1rem;
  text-align: center;
}
.org-chart-node .org-chart-node-children .org-chart-node {
  display: inline-block;
  margin-left: 3rem;
  margin-top: 1rem;
  vertical-align: top;
  width: calc(100% - 6rem);
}
.org-chart-node .org-chart-node-children .org-chart-node .org-chart-node .org-chart-node-details {
  background-color: mediumpurple;
}
.org-chart-node .org-chart-node-children .org-chart-node .org-chart-node-details {
  background-color: green;
}
.org-chart-node .org-chart-node-children .org-chart-node .left-line {
  border-top: solid 1px black;
  top: 2rem;
  margin-left: -3rem;
  position: relative;
  width: 3rem;
}
