@page
@model SSquared.App.Pages.AddEmployeeModel
@{
    ViewData["Title"] = "Add Employee";
}

<h1>New Employee</h1>

<div class="react-wrapper">

</div>

@section Scripts{

    <script type="text/javascript" src="~/js/AddEmployee.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            AddEmployee.init();
        });
    </script>
}
