@page "Employees"
@model SSquared.App.Pages.EmployeePickerModel
@{
}

<div class="react-wrapper">

</div>

@section Scripts{

    <script type="text/javascript" src="~/js/EmployeeList.js"></script>
    <script type="text/javascript">
    $(document).ready(function () {
        EmployeeList.init();
    });
    </script>
}


