@page
@using SSquared.App.Extensions;
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="react-wrapper">
</div>
<div class="button-wrapper mt-3">
    <a class="btn btn-primary" href="@Url.AddEmployee()">Add Employee</a>
</div>

@section Scripts{

    <script type="text/javascript" src="~/js/EmployeeList.js" asp-append-version="true"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            EmployeeList.init();
        });
    </script>
}