.org-chart-node {
    $border: solid 1px black;
    $detailsHeight: 4rem;
    $nodePadding: 3rem;

    .org-chart-node-details {
        background-color: blue;
        color: white;
        padding: 1rem;
        text-align: center;
    }

    .org-chart-node-children {
        border: $border;

        .org-chart-node {
            margin-bottom: 1rem;
            margin-top: 1rem;

            .org-chart-node {
                .org-chart-node-details {
                    background-color: mediumpurple;
                }

                .org-chart-node {
                    .org-chart-node-details {
                        background-color: orange
                    }
                }
            }

            .org-chart-node-details {
                background-color: green;
            }
        }
    }
}
